name: CI

on: 
  push:
    branches:
    - master
  pull_request:
    branches: 
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout branch
      uses: actions/checkout@master

    - name: install stable rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: environment check
      run: |
        rustc --version
        cargo fmt --version
        cargo clippy --version

    - name: clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --all --tests --bins --examples

    - name: check
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all --bins --examples

    - name: tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all

  format:
    runs-on: ubuntu-latest

    steps:
    - name: checkout branch
      uses: actions/checkout@master

    - name: install rustfmt
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        components: rustfmt

    - name: fmt
      run: cargo fmt --all -- --check

#    - name: docs
#      run: cargo doc
